## SMEcorner NLP Session1- Text Classification

Objectives:

    - Machines understanding of text
    
    - Basic text cleaning
    
    - basic to advanced text classification

In [144]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.datasets import load_iris
from sklearn.linear_model import LogisticRegression

### Classification is a Supervised Predictive modelling exercise.
### To understand text classification lets first look at a ml classification example. 
### Here we will try and see how we will classify the flowers types in the famous IRIS dataset.

In [145]:

iris = load_iris()
iris_df=pd.DataFrame(iris['data'],  columns= iris['feature_names'])
iris_df['labels']= iris['target']
#'setosa', 'versicolor', 'virginica'

In [4]:
iris_df.sample(frac=1).head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),labels
68,6.2,2.2,4.5,1.5,1
14,5.8,4.0,1.2,0.2,0
123,6.3,2.7,4.9,1.8,2
18,5.7,3.8,1.7,0.3,0
114,5.8,2.8,5.1,2.4,2

In [21]:
#initiate logistic regreesion
clf = LogisticRegression(random_state=0)

#fit our parameters
clf.fit(iris_df.iloc[:, 0:4].values, iris_df.iloc[:, 4].values)

C:\Users\ELECTROBOT\Anaconda3\envs\tarun37\lib\site-packages\sklearn\linear_model\_logistic.py:765: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

LogisticRegression(random_state=0)

In [22]:
#Pridict flower for sepal length (cm)=8, sepal width (cm)= 4, petal length (cm)=7, petal width (cm)=2

check_candidate=([[8,4,7,2]])

In [23]:
clf.predict(check_candidate)[0] #'virginica'

2

### In the few lines of code above, we created a classification algorithm for the iris dataset.

### How do you think the text classification differs from this?

# lets first load and understand our data

In [25]:
dat= pd.read_csv(r'C:\Users\ELECTROBOT\Desktop\nlp_session\news\train.csv')

dat.columns= ['labels', 'title', 'description']
dat.sample(frac=1).head(50)
#'World','Sports','Business','Sci/Tech'

,labels,title,description
48905,4,Delaware to see Oracle-PeopleSoft (TheDeal.com),TheDeal.com - The takeover fight moves to Dela...
53455,2,Braves look to tie up series,Mike Hampton has never won a Division Series g...
116217,4,Group Releases Mouse Brain Genome Data (AP),AP - The Allen Institute for Brain Science has...
2157,2,Sheffield Should Be Able to Play On,The Yankees' Gary Sheffield has a pulled muscl...
111350,1,Court Overturns Nigerian Woman's Stoning Sentence,"NINGI, Nigeria (Reuters) - A young Nigerian m..."
70265,1,Mexican biologist's attempt to slip into US en...,"SASABE, Mexico -- Mario Alberto Diaz, a biolog..."
81775,2,Undefeated Diaz retains title,Juan Diaz carried his impressive boxing show o...
21281,1,Anwar makes #39;amazing #39; recovery,"The newly released former deputy of Malaysia, ..."
110393,4,Apple tangles with owner of itunes.co.uk (MacC...,MacCentral - U.K.-based Internet entrepreneur ...
30734,2,HOPKINS SETS THE PACE,John Hopkins caused a surprise by claiming pro...
36650,4,Memory makers face jail for price fixing,THREE German executives and an American with m...
15703,1,British Based Preacher Probed over Child Traff...,A Britain-based preacher who claims to perform...
9320,2,Aussies face Cuba in final,Brendan Kingman's sixth-inning RBI single sent...
61541,3,Airbus to Deliver as Many as 320 Planes in 200...,"Airbus SAS, the world #39;s biggest planemaker..."
82786,2,Hendrick Plane Crash Preliminary Report,"A preliminary report, out Friday, suggests the..."
24033,3,BREAKING NEWS Federal judge rejects US bid to...,CNET is reporting that US District Judge Vaugh...
75788,4,Titan #39;s Big Surprise,The Cassini flyby of Titan sent back the most ...
11835,4,Science calls for anglers to cut line,All those recreational anglers who dangle bait...
60727,3,Europe and Health Care Costs Hurt G.M. Earnings,General Motors lowered its forecast for the en...
84176,1,Nuclear summit opens in Australia,Asia-Pacific leaders meet in Australia to disc...
110661,2,Klitschko feels weight of a nation,With a laugh Vitali Klitschko admits he will n...
52162,2,Reds' Vander Wal Becomes Free Agent (AP),AP - Pinch-hitter John Vander Wal chose free a...
8485,3,"US Airways, pilots union break off talks",WASHINGTON -- US Airways Group Inc. and its pi...
52095,3,Computer Associates to buy Netegrity,"Computer Associates in Islandia, NY, said Wedn..."
80348,1,Car bombs kill 12; US readies attack,Car bombs killed at least a dozen people in Ba...
51573,1,Israel diverts airliner to Cyprus in bomb scare,TEL AVIV -- Israeli fighter planes escorted a ...
29964,4,Glimpse at Swollen Stars Presages Earth's Demi...,SPACE.com - Today's global warming nbsp;is not...
100431,4,Game should be pulled,I was just shy of a year and a half old when J...
92583,1,Sudan Rebels Hand Over 20 Prisoners of War,"DERIBAT, Sudan (Reuters) - Darfur rebels from..."
9177,3,Gateway Adds Micro Center to Its Distribution ...,NewsFactor - Gateway has added another marquee...
20762,3,Cephalon subpoenaed by US attorney,Drugmaker Cephalon Inc. said Tuesday it receiv...
74572,4,Are Cheaper Flat-Panel TVs On The Way?,IFire aims to displace LCD TVs with its lower-...
54048,2,Controversy may be just what NASCAR needs,The tornado that was Talladega has swept up th...
91823,3,CalPERS goes after #39;egregious #39; exec pay,The California Public Employees #39; Retiremen...
57922,2,A clashing combination,"David Ortiz, still champagne-scented, was watc..."
23475,2,A dash of novelty to add to excitement,"LONDON, SEPTEMBER 9: A dash of novelty would m..."
96792,2,A Baseball Legend Playing a New Position: Flaw...,"Jackie Robinson, the man who broke baseball's ..."
113786,1,Bomb scare at Madrid stadium,Spectators are evacuated from Real Madrid's Be...
28426,3,"U.S. Stocks Open Lower, Coca-Cola Weighs",NEW YORK (Reuters) - U.S. stocks opened lower...
77805,2,Bison Changing QBs,After Marcos Moreno threw four more intercepti...
1879,4,Microsoft Integration Server on Deck,"Microsoft (Quote, Chart) is ready to ship Host..."
19406,1,India-Pakistan Foreign Minister Talks End Monday,NEW DELHI (Reuters) - India and Pakistan trie...
8817,4,Tough for Courts to Intervene in Offensive Int...,"By RACHEL KONRAD SAN JOSE, Calif. (AP) -- Y..."
27277,2,Andreychuk Back With Bolts,TAMPA - The Lightning have signed captain Dave...
15011,4,FrontBridge Acquires MessageRite for Message A...,FrontBridge Technologies today announced the a...
20070,3,"Update 4: Alitalia Reportedly to Cut 5,000 Jobs","Its future at stake, Italy #39;s flagship air ..."
19221,1,Frances Expected to Cost Insurers #36;2B- #36...,AP - Hurricanes Charley and Frances dealt Flor...
16858,4,Ballmer Touts Microsoft #39;s Innovation In Sp...,Microsoft CEO Steve Ballmer said innovation an...
19376,2,"Rugby-Super 12, Tri-nations to be expanded in ...",The southern hemisphere #39;s Tri-nations and ...
31943,3,Mortgage fraud near #39;epidemic #39;,SAN FRANCISCO (CBS.MW) -- The US real-estate b...

### Not by alot.

### The features vector above were petal, sepal length and width. 

### In text classification we have to create a feature vector from our documents(sentences)

### Words are our features.

### Now we will see the different ways we convert words to features, also called text vectorization methods.

### We will use the titles and train the model to predict the lables.

# Objective: How does machine understand language


We have to classifiy the sentences. Every word possible is a feature and the count of words in the sentence makes the feature vector.

In [58]:
#Frequency of words
words={}
for sent in dat.title.values:
    for word in sent.split():
        if word in words:
            words[word]+=1
        else:
            words[word]=1
# Creating a term document matrix, we will sue just the first 100 observations
final_array=[len([i for i in dat.iloc[0].title.split() if i==word]) for word in words]
for sent in dat[1:100].title.values:
    print('.', end="", flush=True)
    ary= [len([i for i in sent.split() if i==word]) for word in words]
    final_array= np.vstack((final_array, ary))

    
tdm=pd.DataFrame(final_array, columns= words)

...................................................................................................

In [59]:
tdm.index= dat['title'].iloc[0:100]
tdm.head()

,Wall,St.,Bears,Claw,Back,Into,the,Black,(Reuters),Carlyle,...,"Mega-Deals,",season-opener,Cost-Cutters,Redeploys,Quizzing,'offensive',Barack,Obama,Rauffer,Shivering
title,,,,,,,,,,,,,,,,,,,,,
Wall St. Bears Claw Back Into the Black (Reuters),1,1,1,1,1,1,1,1,1,0,...,0,0,0,0,0,0,0,0,0,0
Carlyle Looks Toward Commercial Aerospace (Reuters),0,0,0,0,0,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
Oil and Economy Cloud Stocks' Outlook (Reuters),0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
Iraq Halts Oil Exports from Main Southern Pipeline (Reuters),0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
"Oil prices soar to all-time record, posing new menace to US economy (AFP)",0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

### Looks pretty similar to the isir case. Can we start using a log reg to train and predict----YES we can.

### we can say that the machine is understanding language(to some extent)

### Lets try and improve the understanding for this case!

### 100 observations and 71744 features, it is alot? 
### we clean!!

### Basics of text cleaning!!

- Case sensitive, lower the text
- text has alphabets, digits, punctuations and otherwise special characters, what all to keep?
- Extra spaces
- To Stopwords or not?
- To stem/lemma or not?

In [50]:
from nltk.stem.porter import *
stemmer = PorterStemmer()

def clean(sent):
    sent=sent.lower()
    sent=re.sub(r'[^a-z0-9 ]', " ",sent)
    sebt=re.sub(r'\s+', " ",sent)
    sent=" ".join([stemmer.stem(s) for s in sent.split()])
    
    return sent

In [53]:
#dat['title_clean']= [clean(sent) for sent in dat.description]
dat['title_clean']= [clean(sent) for sent in dat.title]

In [54]:
print(dat.title.iloc[0:5])
print(dat.title_clean.iloc[0:5])

0    Wall St. Bears Claw Back Into the Black (Reuters)
1    Carlyle Looks Toward Commercial Aerospace (Reu...
2      Oil and Economy Cloud Stocks' Outlook (Reuters)
3    Iraq Halts Oil Exports from Main Southern Pipe...
4    Oil prices soar to all-time record, posing new...
Name: title, dtype: object
0         wall st bear claw back into the black reuter
1          carlyl look toward commerci aerospac reuter
2           oil and economi cloud stock outlook reuter
3    iraq halt oil export from main southern pipeli...
4    oil price soar to all time record pose new men...
Name: title_clean, dtype: object

In [55]:
#Frequency of words
words={}
for sent in dat.title_clean.values:
    for word in sent.split():
        if word in words:
            words[word]+=1
        else:
            words[word]=1
len(words)

23783

### Now we have a good understading of how things function in cleaning and machine understading of the feature vectors. 


### lets use sklearn proceed !!

The Scikit-Learn's CountVectorizer provides a simple way to both tokenize a collection of text documents and build a vocabulary of known words, but also to encode new documents using that vocabulary.

We take a dataset and convert it into a corpus. Then we create a vocabulary of all the unique words in the corpus. Using this vocabulary, we can then create a feature vector of the count of the words. Let's see this through a simple example. Let's say we have a corpus containing two sentences as follows

In [80]:
from sklearn.feature_extraction.text import CountVectorizer

#fit

vectorizer = CountVectorizer()
vectorizer.fit(dat.title_clean.values)
#vectorizer.vocabulary_

CountVectorizer()

In [81]:
#transform

train_vectors = vectorizer.transform(dat.title_clean.values)

train_vectors.shape

(120000, 23747)

By default, a scikit learn Count vectorizer can perform the following opertions over a text corpus:

Encoding via utf-8

converts text to lowercase

Tokenizes text using word level tokenization

CountVectorizer has a number of parameters. Let's look at some of them :

# Stopwords

we can remove stopwords depending on our requirements. Can use NLTK or a custom list as well

In [70]:
#from nltk.corpus import stopwords
#print(stopwords.words('english'))
stopwords=['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're", "you've", "you'll", "you'd", 'your', 'yours', 'yourself', 'yourselves', 'he', 'him', 'his', 'himself', 'she', "she's", 'her', 'hers', 'herself', 'it', "it's", 'its', 'itself', 'they', 'them', 'their', 'theirs', 'themselves', 'what', 'which', 'who', 'whom', 'this', 'that', "that'll", 'these', 'those', 'am', 'is', 'are', 'was', 'were', 'be', 'been', 'being', 'have', 'has', 'had', 'having', 'do', 'does', 'did', 'doing', 'a', 'an', 'the', 'and', 'but', 'if', 'or', 'because', 'as', 'until', 'while', 'of', 'at', 'by', 'for', 'with', 'about', 'against', 'between', 'into', 'through', 'during', 'before', 'after', 'above', 'below', 'to', 'from', 'up', 'down', 'in', 'out', 'on', 'off', 'over', 'under', 'again', 'further', 'then', 'once', 'here', 'there', 'when', 'where', 'why', 'how', 'all', 'any', 'both', 'each', 'few', 'more', 'most', 'other', 'some', 'such', 'no', 'nor', 'not', 'only', 'own', 'same', 'so', 'than', 'too', 'very', 's', 't', 'can', 'will', 'just', 'don', "don't", 'should', "should've", 'now', 'd', 'll', 'm', 'o', 're', 've', 'y', 'ain', 'aren', "aren't", 'couldn', "couldn't", 'didn', "didn't", 'doesn', "doesn't", 'hadn', "hadn't", 'hasn', "hasn't", 'haven', "haven't", 'isn', "isn't", 'ma', 'mightn', "mightn't", 'mustn', "mustn't", 'needn', "needn't", 'shan', "shan't", 'shouldn', "shouldn't", 'wasn', "wasn't", 'weren', "weren't", 'won', "won't", 'wouldn', "wouldn't"]

#fit
count_vectorizer = CountVectorizer(stop_words = stopwords)
count_vectorizer.fit(dat.title_clean.values)


#transform
train_vectors = count_vectorizer.transform(dat.title_clean.values)


train_vectors.shape

(120000, 23629)

### MIN_DF and MAX_DF parameter
MIN_DF lets you ignore those terms that appear rarely in a corpus. In other words, if MIN_dfis 2, it means that a word has to occur at least two documents to be considered useful.

MAX_DF on the other hand, ignores terms that have a document frequency strictly higher than the given threshold.These will be words which appear a lot of documents.

This means we can eliminate those words that are either rare or appear too frequently in a corpus.

When mentioned in absolute values i.e 1,2, etc, the value means if the word appears in 1 or 2 documents. However, when given in float, eg 30%, it means it appears in 30% of the documents.

In [71]:
#fit
count_vectorizer = CountVectorizer(stop_words = stopwords, min_df=2 ,max_df=0.8)
count_vectorizer.fit(dat.title_clean.values)


#transform
train_vectors = count_vectorizer.transform(dat.title_clean.values)


train_vectors.shape

(120000, 15398)

### Custom preprocessor

Cleaning and other realted tasks

In [82]:
from nltk.stem.porter import *
stemmer = PorterStemmer()

def clean(sent):
    sent=sent.lower()
    sent=re.sub(r'[^A-Za-z ]', " ",sent)
    sent=re.sub(r'\s+', " ",sent)
    #sent=" ".join([stemmer.stem(s) for s in sent.split() if s not in stopwords])
    
    
    return sent

In [124]:
#fit
count_vectorizer = CountVectorizer( min_df=20 ,max_df=0.8, preprocessor= clean)
count_vectorizer.fit(dat.title_clean.values)


#transform
train_vectors = count_vectorizer.transform(dat.title_clean.values)


train_vectors.shape

(120000, 4293)

In [125]:
#count_vectorizer.vocabulary_

### lets put our classification model to work

In [126]:
y= dat.labels.values
y

array([3, 3, 3, ..., 2, 2, 2], dtype=int64)

In [127]:
from sklearn.model_selection import train_test_split


Xtr, Xtt, Ytr, Ytt= train_test_split(train_vectors, y, test_size=.3, stratify= y, random_state=98)

In [128]:
clf = LogisticRegression(random_state=0).fit(Xtr, Ytr)

C:\Users\ELECTROBOT\Anaconda3\envs\tarun37\lib\site-packages\sklearn\linear_model\_logistic.py:765: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

In [129]:
y_pred= clf.predict(Xtt)

In [130]:
from sklearn.metrics import accuracy_score, f1_score

print(accuracy_score(Ytt, y_pred)*100)
print(f1_score(Ytt, y_pred, average='macro')*100)

85.11666666666666
85.07324842563791

### ---------We have built our first text classification model ---------------

Things we learnt here:
    
    The features are all the words(too many). The word vectors are the count of occurance of thme word(pretty naive).
    The feature vector is the combination of all the words.

Next steps:
    
    We will try and improve the word vector quality.(tfidf)
    We will try and bring in some sentence structure/contexct information (N Grams)

### The 2nd approach to text vectorization: TFIDF
### For example, when a 100-word document contains the term â€œcatâ€ 12 times, the TF for the word â€˜catâ€™ is
### TFcat = 12/100 i.e. 0.12
### Letâ€™s say the size of the corpus is 1000 documents. If we assume there are 30 documents that contain the term â€œcatâ€, then
### IDF (cat) = log (1000/30) = 1.52
### (TF*IDF) cat = 0.12 * 1.52 = 0.182
if appears in one document only then its ,1.2*log(1000/1)=3.6

In [131]:
from sklearn.feature_extraction.text import TfidfVectorizer

vectorizer=TfidfVectorizer(min_df=20 ,max_df=.8, preprocessor= clean)
X = vectorizer.fit_transform(dat.title_clean.values)
y= dat.labels.values

Xtr, Xtt, Ytr, Ytt= train_test_split(X, y, test_size=.3, stratify= y, random_state=98)


clf = LogisticRegression(random_state=0).fit(Xtr, Ytr)

y_pred= clf.predict(Xtt)

print(accuracy_score(Ytt, y_pred)*100)
print(f1_score(Ytt, y_pred, average='macro')*100)

85.11666666666666
85.08210738784638

C:\Users\ELECTROBOT\Anaconda3\envs\tarun37\lib\site-packages\sklearn\linear_model\_logistic.py:765: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

In [134]:
pd.DataFrame(X[0:300].todense(), columns= vectorizer.get_feature_names())

,aa,aapl,aaron,ab,ababa,abandon,abandon its,abandoned,abandoning,abandoning its,...,zimbabwe,zimbabwean,zombie,zone,zone and,zone in,zoo,zook,zurich,zvonareva
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
296,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
297,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
298,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
299,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

### imporove it more, bring some sentence structure using N-grams

sentence1= "man bites dog"
sentence2= "dog bites man"
Features extracted will be:['man', 'bites', 'dog']

the sentence vector is same using above methods!

using 2-gram

Features extracted will be:
sentence1= ['man', 'bites', 'dog', 'man bites', 'bites dog']
sentence1= ['dog', 'bites', 'man', 'dog bites', 'bites man']

the sentence vectors are pretty different and can convey quite a bit of information as well!

In [133]:
from sklearn.feature_extraction.text import TfidfVectorizer

vectorizer=TfidfVectorizer(min_df=20 ,max_df=0.8, preprocessor= clean,
                             ngram_range=(1,3))
X = vectorizer.fit_transform(dat.description)
y= dat.labels.values

Xtr, Xtt, Ytr, Ytt= train_test_split(X, y, test_size=.3, stratify= y, random_state=98)


clf = LogisticRegression(random_state=0).fit(Xtr, Ytr)

y_pred= clf.predict(Xtt)

print(accuracy_score(Ytt, y_pred)*100)
print(f1_score(Ytt, y_pred, average='macro')*100)

90.51666666666667
90.49714239507367

C:\Users\ELECTROBOT\Anaconda3\envs\tarun37\lib\site-packages\sklearn\linear_model\_logistic.py:765: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

In [135]:
pd.DataFrame(X[0:300].todense(), columns= vectorizer.get_feature_names())

,aa,aapl,aaron,ab,ababa,abandon,abandon its,abandoned,abandoning,abandoning its,...,zimbabwe,zimbabwean,zombie,zone,zone and,zone in,zoo,zook,zurich,zvonareva
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
296,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
297,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
298,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
299,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

### we have built our text classification model 2
### we did some improvements to the word vectors by using tfidf and we induced some sentence structure using n grams!

In [136]:
### How can we improve more?

### - We have to imrove the sentence vector so that it conveys more information
### - To imrpove the sentence vector we have to improve the word vectors.

## Lets leave tfidf and move towards word embeddings

### Glove Embeddings
GloVe stands for global vectors for word representation. It is an unsupervised learning algorithm developed by Stanford for generating word embeddings by aggregating global word-word co-occurrence matrix from a corpus. The resulting embeddings show interesting linear substructures of the word in vector space.

In [137]:
embeddings_index = dict()
f = open(r'C:\Users\ELECTROBOT\PycharmProjects\bot\tarun_nlp\glove.6B.50d.txt', encoding='utf-8')
for line in f:
    values = line.split()
    word = values[0]
    coefs = np.asarray(values[1:], dtype='float32')
    embeddings_index[word] = coefs
f.close()
print('Loaded %s word vectors.' % len(embeddings_index))

Loaded 400000 word vectors.

### Going back to our cat example.
"Cat" appears in our 100 word document 12 times
And in 10,000,000 million documents, 0.3 million documents contain the term â€œcatâ€

Count vector = 12
tfidf= 1.52

Glove embedding is below and it is global.

In [138]:
embeddings_index['cat']

array([ 0.45281 , -0.50108 , -0.53714 , -0.015697,  0.22191 ,  0.54602 ,
       -0.67301 , -0.6891  ,  0.63493 , -0.19726 ,  0.33685 ,  0.7735  ,
        0.90094 ,  0.38488 ,  0.38367 ,  0.2657  , -0.08057 ,  0.61089 ,
       -1.2894  , -0.22313 , -0.61578 ,  0.21697 ,  0.35614 ,  0.44499 ,
        0.60885 , -1.1633  , -1.1579  ,  0.36118 ,  0.10466 , -0.78325 ,
        1.4352  ,  0.18629 , -0.26112 ,  0.83275 , -0.23123 ,  0.32481 ,
        0.14485 , -0.44552 ,  0.33497 , -0.95946 , -0.097479,  0.48138 ,
       -0.43352 ,  0.69455 ,  0.91043 , -0.28173 ,  0.41637 , -1.2609  ,
        0.71278 ,  0.23782 ], dtype=float32)

In [139]:
#all all embeddings to create sentence vector

sentence= "this is a test statement"

feature_vec=np.zeros(50)


for word in sentence.split():
    feature_vec+=embeddings_index[word]
feature_vec

array([ 2.25324005,  1.20732398, -1.81572501,  1.39300997,  2.79697999,
        1.55685998, -0.82648612, -1.32325099,  2.159186  , -0.05694999,
        0.308964  , -0.238901  , -2.49635896, -0.57219598,  1.67374601,
        1.06874001,  0.45898998, -0.33058   , -2.65711996, -1.22397998,
       -0.83847098,  0.84496   ,  0.31227602, -0.44233698,  1.31393898,
       -9.48469996, -1.76770702,  1.69573998, -0.85943398,  0.55382499,
       17.62400007, -1.80384001, -2.21263   , -1.69688997,  1.26198198,
       -1.53818896,  2.98966001,  0.83914001, -0.74335   , -1.17333001,
        0.17548701,  0.58401601, -1.65164995, -0.11220033,  0.13959499,
        1.49597199, -0.21923009,  2.85804805,  1.71129   ,  0.95066002])

In [140]:
all_vec=[]
for sent in dat.description:
    sent= sent.lower()
    sent= re.sub(r'[^a-z ]', " ", sent)
    sent= re.sub(r'\s+', " ", sent)
    sent= " ".join([i for i in sent.split() if i not in stopwords])
    sent_vec=np.zeros(50)
    counter=1
    #print(sent)
    for word in sent.split():
        try:
            sent_vec+=embeddings_index[word]
            counter+=1
        except:
            pass
    all_vec.append(sent_vec/counter)

In [141]:
all_vec=np.vstack(all_vec)

In [142]:
Xtr, Xtt, Ytr, Ytt= train_test_split(all_vec, y, test_size=.3, stratify= y, random_state=98)


clf = LogisticRegression(random_state=0).fit(Xtr, Ytr)

y_pred= clf.predict(Xtt)

print(accuracy_score(Ytt, y_pred)*100)
print(f1_score(Ytt, y_pred, average='macro')*100)

87.01388888888889
87.00148423579151

C:\Users\ELECTROBOT\Anaconda3\envs\tarun37\lib\site-packages\sklearn\linear_model\_logistic.py:765: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

In [143]:
all_vec

array([[-0.08744174,  0.05374192,  0.40379584, ..., -0.218543  ,
        -0.04069583, -0.04449614],
       [ 0.18624144, -0.10160886,  0.02472765, ...,  0.29362154,
         0.07653359,  0.17087973],
       [-0.08487244, -0.04802153,  0.55133232, ...,  0.4701391 ,
         0.25072272,  0.08087132],
       ...,
       [-0.16266912,  0.05424985,  0.09967032, ...,  0.47202923,
        -0.08021916,  0.27775008],
       [-0.44951438,  0.18696011,  0.29057535, ...,  0.32472168,
        -0.07712095,  0.11204817],
       [-0.59949935,  0.45124391,  0.03657286, ..., -0.13639747,
        -0.31487774,  0.27047695]])